* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  width: 100%;
  background: rgba(100, 100, 100, 0.1);
  position: relative;
}

.popout-video {
  width: 100%;
  position: relative;
}
.popout-video--popout {
  position: fixed;
  left: 0;
  top: 0;
  width: 450px;
  max-width: 100%;
  height: auto;
  -webkit-animation: popin 0.5s ease-in-out forwards;
          animation: popin 0.5s ease-in-out forwards;
}
@-webkit-keyframes popin {
  to {
    top: 0;
  }
}
@keyframes popin {
  to {
    top: 0;
  }
}
.popout-video--popout:hover .popout-video__controls {
  opacity: 1;
}
.popout-video video {
  width: 100%;
  vertical-align: middle;
}
.popout-video__controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 100%);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;
}
.popout-video__controls .close-video {
  width: 1.77rem;
  height: 1.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  border-radius: 50%;
  transition: 0.25s ease;
}
.popout-video__controls .close-video:hover {
  background: rgba(50, 50, 50, 0.4);
}
.popout-video__controls .close-video:before, .popout-video__controls .close-video:after {
  content: "";
  position: absolute;
  margin: auto;
  width: 1rem;
  height: 2px;
  background: #fff;
}
.popout-video__controls .close-video:before {
  transform: rotate(45deg);
}
.popout-video__controls .close-video:after {
  transform: rotate(-45deg);
}

.content {
  padding: 4rem 1rem;
  max-width: 900px;
}
.content span {
  display: block;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.87);
  margin: 3em 0 1em;
}

p {
  line-height: 1.6;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.78);
}
p + p {
  margin-top: 2rem;
}