body {
    margin-top: 10vh;
    text-align: center;
}

.container {
    display: block;
    left: 50%;
}

#card {
    margin-bottom: 5vh;
}

button {
    padding: 10px;
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
	outline: #888;
}

button:focus {
    border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
    
}

img {
    width: 30vw;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);]
    /* border: 10px solid black; */
}